<div class="container  font-weight-lighter  w-50">
    <div class="flex bg-indigo text-white p-2">
      <h1>{{ title }}</h1>
      <a class="btn btn-dark ml-auto my-auto" routerLink="/todos"
        >View Todos</a
      >
    </div>
    <div class="row mb-2 d-flex justify-content-between ml-0">
        <div class="col-3 p-0">
          <input 
            type="text"
            class="form-control"
            placeholder="Search..." 
            [(ngModel)]="searchText" 
            (keyup)="onSearch()"
          >
        </div>
        <button class="btn btn-dark mr-3" (click)="onUpdate()">
            New User
          </button>
      </div>
    <div class="flex">
      <span *ngIf="filteredData.length === 0">No result</span>
      
      <table  
        class="w-1000 p-3 my-table box-shadow" 
        *ngIf="filteredData.length > 0" class="table table-hover  border border-dark">
        <thead class="bg-deep-orange lh-10 text-white" class="thead-dark">
          <tr>
            <th>ID</th>
            <th>FIRSTNAME</th>
            <th>LASTNAME</th>
            <th>OCCUPATION</th>
            <th>TODOS</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredData">
            <td>{{ user.id }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.occupation }}</td>
            <td>
              <a routerLink="/todos/{{ user.id }}" class="text-decoration-none">View Todos</a>
            </td>
            <td>
              <button class= "btn btn-outline-dark btn-sm mr-3" (click)="onUpdate(user)">Update</button>
            
              <button class= "btn btn-outline-dark btn-sm" (click)="onDelete(user)">Delete</button>
            </td>
          </tr>
          
        </tbody>
        <tfoot>
          <tr>
            <td class="p-2" colspan="6">
              <!-- Showing {{ filteredData.length}} results of {{ filteredData.length }}. -->
              <ngb-pagination
              [(page)]="page"
              [pageSize]="pageSize"
              [collectionSize]="collectionSize"
              (pagechange)="onPageChange()"
              [directionLinks]="true"
            >
             
            </ngb-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

 